<button (click)="up()">↑</button>
<button (click)="down()">↓</button>
<h1>{{todo.name}} : {{todo.id}}</h1>
<p>{{todo.description}}</p>
<p>{{TodoItemStateEnum[todo.state]}}</p>
<mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle value="created"  aria-label="Created">
    Created
  </mat-button-toggle>
  <mat-button-toggle value="in progress" aria-label="Text align center">
    <mat-icon>format_align_center</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="right" aria-label="Text align right">
    <mat-icon>format_align_right</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<div class="example-selected-value">Selected value: {{group.value}}</div>

<hr>
