form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

label {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
